body{
    background-color: gray;
    font-family: sans-serif;
}
.container{
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: brown;
}
h1{
    color: blue;
    font-size: 50px;
}
h2{
    color: blue;
    font-size: 50px;
}
